body{
    min-height: 100vh;
    margin:0;

}

/*-----------------------------------------------------------------header------------------------------------------------------*/

.header{
    background-color:#1f2937 ;
    /* height: 40vh; */
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.top{
    display: flex;
    
    width:100%;
    justify-content: space-around;
}

ul{
    display: flex;
    list-style: none;
    gap:20px
}


.header-info{
    display:flex;
    width:100%;
    justify-content: space-around;
    margin:60px;
}

h1{
    margin: 0;
    padding:0;
}

.image{
    width:40%; 
    /* outline: 3px solid red; */
    background-color: aliceblue;
    color:black;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;

 }

.sign-up{
    border-radius: 6px;
    background-color: #3882f6;
    color: white;
    border: none;
    width:70px;
    height:25px;
    margin:0;
}

.description{
    width:40vh;
}

/*-------------------------------------------------middle part--------------------------------------------------------------------*/


h2{
    text-align: center;
}
.block{
    border-radius: 6px;
    margin:10px;
    border:3px solid #3882f6;
    width:80px;
    height:80px;
}

.text{
    margin: 10px;
}
.blocks{
    display: flex;
    justify-content: center;
    display: flex;
    gap: 8px;
}
.text{
    text-align: center;
}
.quotes{
    background-color: #e5e7eb;
    font-size:20px;
    display: flex;
    flex-direction: column;     align-items: center;
}

/* ----------------------------------- */
.quote{
    display: flex;
    width:40%;
    padding: left right 100px;
}
h5, p{
    margin:0;
    padding:0;
}

/* -------CONTACT-------- */
.contact-info{
    display: flex;
    justify-content: center;
    padding: 40px;
    color:white;
}
.contact{
    /* outline: 2px solid burlywood; */
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 30px;
    width:600px;
    border-radius: 4px;
}
.para > p{
    color:#e5e7eb;
    font-weight: none;
    font-size:15px;
}
.button-contact > button{
    background-color:#3882f6;
    border: none;
    color:white;
}
.button-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width:90px;
    border-radius: 8px;
}
/* .para{
    outline: 2px solid brown;
    width:75%;
} */

/* -----------footer------------------ */
footer{
    background-color: #1f2937;
    height:50px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p{
    color: white;
}

